In [1]:
import pandas as pd
import numpy as np
import pyreadstat
import re
from datetime import datetime
import pyreadstat
import json

In [2]:
pd.options.display.max_columns = 100

#### Geospatial data

We would like to visualize the spread of vegetarian restaurants across different states in the United States. So we extracted the coloumns called PROVINCE. We then used US state mapper to map the state names to its abbreviations which is in the data. We created a new data frame which contains only two columns - Province and the number of restaurants in each province. The columns have been renamed to region and value to be compatible to the library that we are going to use.

In [43]:
df_1 = pd.read_csv("../project_data/vegetarian_restaurants_US_datafiniti.csv")

In [19]:
df_state = df_1.groupby(by='province').agg({'name':'nunique'})

In [20]:
df_state.reset_index(inplace=True)

In [21]:
    us_state_abbrev = {
        'AL': 'Alabama',
        'AK': 'Alaska',
        'AZ': 'Arizona',
        'AR': 'Arkansas',
        'CA': 'California',
        'CO': 'Colorado',
        'CT': 'Connecticut',
        'DE': 'Delaware',
        'FL': 'Florida',
        'GA': 'Georgia',
        'HI': 'Hawaii',
        'ID': 'Idaho',
        'IL': 'Illinois',
        'IN': 'Indiana',
        'IA': 'Iowa',
        'KS': 'Kansas',
        'KY': 'Kentucky',
        'LA': 'Louisiana',
        'ME': 'Maine',
        'MD': 'Maryland',
        'MA': 'Massachusetts',
        'MI': 'Michigan',
        'MN': 'Minnesota',
        'MS': 'Mississippi',
        'MO': 'Missouri',
        'MT': 'Montana',
        'NE': 'Nebraska',
        'NV': 'Nevada',
        'NH': 'New Hampshire',
        'NJ': 'New Jersey',
        'NM': 'New Mexico',
        'NY': 'New York',
        'NC': 'North Carolina',
        'ND': 'North Dakota',
        'OH': 'Ohio',
        'OK': 'Oklahoma',
        'OR': 'Oregon',
        'PA': 'Pennsylvania',
        'RI': 'Rhode Island',
        'SC': 'South Carolina',
        'SD': 'South Dakota',
        'TN': 'Tennessee',
        'TX': 'Texas',
        'UT': 'Utah',
        'VT': 'Vermont',
        'VA': 'Virginia',
        'WA': 'Washington',
        'WV': 'West Virginia',
        'WI': 'Wisconsin',
        'WY': 'Wyoming',
    }

In [ ]:
def func(x, us_):
    return us_[x].lower()

In [ ]:
df_state.rename(columns={'province':'region','name':'value'},inplace=True)

In [ ]:
df_state = df_state[df_state['region']!="AU-WA"]
df_state = df_state[df_state['region']!="DC"]

In [ ]:
df_state['region'] = df_state['region'].apply(lambda x: func(x,us_state_abbrev))

In [ ]:
df_state.to_csv('../project_data/states_grouped.csv',index=False)

In [41]:
df_1.shape

(18155, 29)

In [6]:
df_city = df_1.groupby(by="city").agg({"name":"nunique"})

In [7]:
df_city.reset_index(inplace=True)

In [11]:
df_city = df_city.sort_values(by="name",ascending=False)

In [12]:
df_city.rename(columns={"name":"number_of_restaurants"},inplace=True)

In [13]:
df_city.to_csv("../project_data/cities_and_restaurant_counts.csv",index=False)

In [123]:
df_city

              city  number_of_restaurants
1976      New York                    340
325       Brooklyn                    219
484        Chicago                    191
1619   Los Angeles                    183
1275       Houston                    149
...            ...                    ...
2623        Seguin                      0
1962    New Iberia                      0
2641       Sheldon                      0
501   Clarkesville                      0
227        Big Sur                      0

[3261 rows x 2 columns]

### Reading .sav extension files

In [3]:
df, meta = pyreadstat.read_sav("../project_data/respondents.sav")

In [4]:
df1, meta = pyreadstat.read_sav("../project_data/Faunalytics-Current-Former-Veg-Study-Dataset-All-Respondents-Original-Variables.sav")

In [5]:
df_reasons = df[['id','ALLANIMALPROTECTION','ALLENVIRONMENT','ALLCOST','ALLHEALTH','ALLRELIGIOUSSPIRITUAL',
                'ALLSOCIALINFLUENCE','ALLSOCIALJUSTICEWORLDHUNGER','ALLFOODTREND','ALLDISGUST']]

In [6]:
df_reasons.dropna(inplace=True)

<ipython-input-6-925217ff448e>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reasons.dropna(inplace=True)

In [7]:
df_reasons.drop(columns=['id'],inplace=True)

/Users/saikrupa/opt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [8]:
df_reasons = df_reasons.apply(pd.Series.value_counts)

In [9]:
df_reasons = df_reasons.transpose()

In [10]:
df_reasons = df_reasons.rename(columns={2.0:"Very little",3.0:"little",1.0:"Not at all",4.0:"high",5.0:"Very High"})

In [11]:
df_modified = df_reasons.transpose()

In [12]:
df_modified.reset_index(inplace=True)

In [13]:
df_modified = df_modified.to_dict('list')

In [14]:
f = open("../project_data/interactive_plots.json", "w")
json.dump(df_modified,f)
f.close()

### Inconvience because of veganism

In [15]:
df.shape

(1387, 1023)

In [51]:
df_inconvience = df[['id','ALLINCONVENIENCE1','ALLINCONVENIENCE2','ALLINCONVENIENCE3','ALLINCONVENIENCE4','ALLINCONVENIENCE5','ALLINCONVENIENCE6',
   'ALLINCONVENIENCE7']]

In [52]:
def function_transform(x):
    if int(x)==2:
        return 1
    elif int(x)==4:
        return 5
    else:
        return int(x)

In [53]:
df_inconvience[df_inconvience['ALLINCONVENIENCE1'].isna() == True]

,id,ALLINCONVENIENCE1,ALLINCONVENIENCE2,ALLINCONVENIENCE3,ALLINCONVENIENCE4,ALLINCONVENIENCE5,ALLINCONVENIENCE6,ALLINCONVENIENCE7
25,264.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80,776.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
152,1302.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
178,1483.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
229,1919.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
303,2560.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
351,3048.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
393,3583.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
407,3768.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
574,5137.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
887,7834.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
974,8972.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1094,10114.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1123,10333.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1155,10671.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1158,10685.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1230,11184.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1358,12158.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [54]:
df_inconvience[df_inconvience['ALLINCONVENIENCE3'].isna() == True]

,id,ALLINCONVENIENCE1,ALLINCONVENIENCE2,ALLINCONVENIENCE3,ALLINCONVENIENCE4,ALLINCONVENIENCE5,ALLINCONVENIENCE6,ALLINCONVENIENCE7
25,264.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80,776.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
152,1302.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
178,1483.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
229,1919.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
303,2560.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
351,3048.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
393,3583.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
407,3768.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
574,5137.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
887,7834.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
974,8972.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1094,10114.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1123,10333.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1155,10671.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1158,10685.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1230,11184.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1358,12158.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [55]:
df_inconvience.dropna(inplace=True)

<ipython-input-55-a8170f448e3a>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_inconvience.dropna(inplace=True)

In [56]:
df_inconvience['ALLINCONVENIENCE1'] = df_inconvience['ALLINCONVENIENCE1'].apply(lambda x:function_transform(x))

df_inconvience['ALLINCONVENIENCE2'] = df_inconvience['ALLINCONVENIENCE2'].apply(lambda x:function_transform(x))

df_inconvience['ALLINCONVENIENCE3'] = df_inconvience['ALLINCONVENIENCE3'].apply(lambda x:function_transform(x))

df_inconvience['ALLINCONVENIENCE4'] = df_inconvience['ALLINCONVENIENCE4'].apply(lambda x:function_transform(x))

df_inconvience['ALLINCONVENIENCE5'] = df_inconvience['ALLINCONVENIENCE5'].apply(lambda x:function_transform(x))

df_inconvience['ALLINCONVENIENCE6'] = df_inconvience['ALLINCONVENIENCE6'].apply(lambda x:function_transform(x))

df_inconvience['ALLINCONVENIENCE7'] = df_inconvience['ALLINCONVENIENCE7'].apply(lambda x:function_transform(x))

<ipython-input-56-2ee806dd1c78>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_inconvience['ALLINCONVENIENCE1'] = df_inconvience['ALLINCONVENIENCE1'].apply(lambda x:function_transform(x))
<ipython-input-56-2ee806dd1c78>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_inconvience['ALLINCONVENIENCE2'] = df_inconvience['ALLINCONVENIENCE2'].apply(lambda x:function_transform(x))
<ipython-input-56-2ee806dd1c78>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_inconvience['ALLINCONVENIENCE3'] = df_inconvience['ALLINCONVENIENCE3'].apply(lambda x:function_transform(x))
<ipython-input-56-2ee806dd1c78>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_inconvience['ALLINCONVENIENCE4'] = df_inconvience['ALLINCONVENIENCE4'].apply(lambda x:function_transform(x))
<ipython-input-56-2ee806dd1c78>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_inconvience['ALLINCONVENIENCE5'] = df_inconvience['ALLINCONVENIENCE5'].apply(lambda x:function_transform(x))
<ipython-input-56-2ee806dd1c78>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_inconvience['ALLINCONVENIENCE6'] = df_inconvience['ALLINCONVENIENCE6'].apply(lambda x:function_transform(x))
<ipython-input-56-2ee806dd1c78>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_inconvience['ALLINCONVENIENCE7'] = df_inconvience['ALLINCONVENIENCE7'].apply(lambda x:function_transform(x))

In [57]:
df_inconvience.rename(columns={'ALLINCONVENIENCE1':'complication in preparing','ALLINCONVENIENCE2':'time consuming',
                              'ALLINCONVENIENCE3':'no restuarants for grab n go','ALLINCONVENIENCE4':'easy access',
                              'ALLINCONVENIENCE5':'have to prepare both vegatarian and non vegetarian',
                              'ALLINCONVENIENCE6':'hard time grocery shopping','ALLINCONVENIENCE7':'difficult during time of transition'},inplace=True)

/Users/saikrupa/opt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:4441: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [58]:
df_inconvience.drop(columns=['id'],inplace=True)

/Users/saikrupa/opt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [59]:
df_inconvience = df_inconvience.apply(pd.Series.value_counts)

In [60]:
df_inconvience = df_inconvience.transpose()

In [61]:
df_inconvience = df_inconvience.rename(columns={1:"Disagree",5:"Neither agree nor disagree",3:"Agree"})
df_inconvience.reset_index(inplace=True)

In [62]:
df_inconvience.rename(columns={'index':'reason'},inplace=True)

In [63]:
df_inconvience

,reason,Disagree,Agree,Neither agree nor disagree
0,complication in preparing,804,285,280
1,time consuming,686,312,371
2,no restuarants for grab n go,521,291,557
3,easy access,828,254,287
4,have to prepare both vegatarian and non vegeta...,801,175,393
5,hard time grocery shopping,1082,158,129
6,difficult during time of transition,698,315,356

In [64]:
df_inconvience.to_csv('../project_data/inconvience_reasons.csv',index=False,encoding='utf-8')

### Transition and length of veganism and what age groups are feeling a difficulty of transition

In [6]:
df_categorical = df[['id','ALLAGEADOPTION','ALLTRANSITION','ALLLENGTH']]

In [7]:
def func_age(x):
    if x>=0 and x<=20:
        return "0-20"
    elif x>20 and x<=40:
        return "20-40"
    elif x>40 and x<=60:
        return "40-60"
    elif x>60 and x<=80:
        return "60-80"
    else:
        return "80-100"

In [8]:
df_categorical['Age'] = df_categorical['ALLAGEADOPTION'].apply(lambda x: func_age(x))

<ipython-input-8-5156b4ad1045>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_categorical['Age'] = df_categorical['ALLAGEADOPTION'].apply(lambda x: func_age(x))

In [9]:
df_age_transition = df_categorical[['id','Age']]

In [10]:
df_merge = pd.merge(df_age_transition, df[['id','ALLINCONVENIENCE7']],left_on="id",right_on="id")

In [11]:
df_merge.dropna(inplace=True)

In [12]:
df_merge['id'] = df_merge['id'].apply(lambda x:int(x))

In [13]:
df_merge['ALLINCONVENIENCE7'] = df_merge['ALLINCONVENIENCE7'].apply(lambda x:int(x))

In [14]:
df_merge.rename(columns={'ALLINCONVENIENCE7':'difficulty_during_transition'},inplace=True)

In [70]:
df_merge.to_csv("../project_data/age_difficulty_during_transition.csv",index=False)

In [15]:
df_categorical.dropna(inplace=True)

<ipython-input-15-0d2ac5fb1b75>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_categorical.dropna(inplace=True)

In [16]:
df_categorical['ALLLENGTH'] = df_categorical['ALLLENGTH'].apply(lambda x:int(x))
df_categorical['ALLTRANSITION'] = df_categorical['ALLTRANSITION'].apply(lambda x:int(x))

<ipython-input-16-54f469b17cd1>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_categorical['ALLLENGTH'] = df_categorical['ALLLENGTH'].apply(lambda x:int(x))
<ipython-input-16-54f469b17cd1>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_categorical['ALLTRANSITION'] = df_categorical['ALLTRANSITION'].apply(lambda x:int(x))

In [17]:
def function_for_transition_length(x):
    if x==1:
        return "0-3 months"
    elif x==2:
        return "4-11 months"
    elif x==3:
        return "1-2 years"
    elif x==4:
        return "3-5 years"
    elif x==5:
        return "6-9 years"
    elif x==6:
        return "9 or more years"
    else:
        return "No idea"

In [19]:
def function_transition(x):
    if x==1:
        return "1-6 days"
    elif x==2:
        return "1-3 weeks"
    elif x==3:
        return "1-6 months"
    elif x==4:
        return "7-12 months"
    elif x==5:
        return "more than a year"
    else:
        return "No idea"

In [18]:
df_categorical['ALLLENGTH'] = df_categorical['ALLLENGTH'].apply(lambda x:function_for_transition_length(x))

<ipython-input-18-76160dc50a45>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_categorical['ALLLENGTH'] = df_categorical['ALLLENGTH'].apply(lambda x:function_for_transition_length(x))

In [20]:
df_categorical['ALLTRANSITION'] = df_categorical['ALLTRANSITION'].apply(lambda x:function_transition(x))

<ipython-input-20-e10962f033cc>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_categorical['ALLTRANSITION'] = df_categorical['ALLTRANSITION'].apply(lambda x:function_transition(x))

In [21]:
df_categorical.rename(columns={'ALLTRANSITION':'Time_for_transition','ALLLENGTH':'Length_of_veganism'},inplace=True)

/Users/saikrupa/opt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:4441: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [22]:
df_categorical.to_csv('../project_data/age_transition_length_new.csv',index=False,encoding='utf-8')

### Time series data

In [1]:
def func(x):
    try:
        x = datetime.fromisoformat(x[:-1])
        x = x.strftime('%Y-%m')
    except Exception as e:
        x = None
    return x

In [ ]:
df_1['date'] = df_1['dateAdded'].apply(lambda x:func(x))

In [ ]:
df_time_series = df_1['date'].value_counts().rename_axis('date').reset_index(name='counts')

In [ ]:
df_time_series.to_csv('../project_data/timeseries_opening_of_restuarants.csv',index=False)

#### Length and transition into a vegan 
- how are length of veganism and transition into a vegan are related.

In [28]:
df_incon_mot_dichot = df[['id','ALLLENGTH', 'ALLTRANSITION','ALLINCONVENIENCE4D','ALLINCONVENIENCE2D']]

In [29]:
df_incon_mot_dichot

,id,ALLLENGTH,ALLTRANSITION,ALLINCONVENIENCE4D,ALLINCONVENIENCE2D
0,507.0,1.0,1.0,0.0,1.0
1,499.0,1.0,6.0,0.0,0.0
2,494.0,3.0,3.0,1.0,0.0
3,62.0,1.0,6.0,0.0,0.0
4,64.0,1.0,1.0,0.0,0.0
...,...,...,...,...,...
1382,12333.0,2.0,1.0,0.0,0.0
1383,12334.0,1.0,2.0,0.0,0.0
1384,12357.0,3.0,1.0,0.0,0.0
1385,12378.0,2.0,2.0,1.0,1.0
1386,12400.0,NaN,NaN,0.0,0.0

In [30]:
df_incon_mot_dichot.dropna(inplace=True)

<ipython-input-30-47914681dc84>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_incon_mot_dichot.dropna(inplace=True)

In [32]:
df_incon_mot_dichot['ALLLENGTH'] = df_incon_mot_dichot['ALLLENGTH'].apply(lambda x:int(x))
df_incon_mot_dichot['ALLTRANSITION'] = df_incon_mot_dichot['ALLTRANSITION'].apply(lambda x:int(x))
df_incon_mot_dichot['ALLINCONVENIENCE4D'] = df_incon_mot_dichot['ALLINCONVENIENCE4D'].apply(lambda x:int(x))
df_incon_mot_dichot['ALLINCONVENIENCE2D'] = df_incon_mot_dichot['ALLINCONVENIENCE2D'].apply(lambda x:int(x))

<ipython-input-32-8ce88c196262>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_incon_mot_dichot['ALLLENGTH'] = df_incon_mot_dichot['ALLLENGTH'].apply(lambda x:int(x))
<ipython-input-32-8ce88c196262>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_incon_mot_dichot['ALLTRANSITION'] = df_incon_mot_dichot['ALLTRANSITION'].apply(lambda x:int(x))
<ipython-input-32-8ce88c196262>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_incon_mot_dichot['ALLINCONVENIENCE4D'] = df_incon_mot_dichot['ALLINCONVENIENCE4D'].apply(lambda x:int(x))
<ipython-input-32-8ce88c196262>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_incon_mot_dichot['ALLINCONVENIENCE2D'] = df_incon_mot_dichot['ALLINCONVENIENCE2D'].apply(lambda x:int(x))

In [33]:
df_incon_mot_dichot

,id,ALLLENGTH,ALLTRANSITION,ALLINCONVENIENCE4D,ALLINCONVENIENCE2D,ALLINCONVENIENCE3D
0,507.0,1,1,0,1,1
1,499.0,1,6,0,0,0
2,494.0,3,3,1,0,0
3,62.0,1,6,0,0,0
4,64.0,1,1,0,0,0
...,...,...,...,...,...,...
1381,12307.0,6,1,0,0,0
1382,12333.0,2,1,0,0,0
1383,12334.0,1,2,0,0,0
1384,12357.0,3,1,0,0,0
1385,12378.0,2,2,1,1,1

In [34]:
df_incon_mot_dichot['ALLLENGTH'] = df_incon_mot_dichot['ALLLENGTH'].apply(lambda x:function_for_transition_length(x))
df_incon_mot_dichot['ALLTRANSITION'] = df_incon_mot_dichot['ALLTRANSITION'].apply(lambda x:function_for_transition_length(x))

<ipython-input-34-4e970e0c7786>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_incon_mot_dichot['ALLLENGTH'] = df_incon_mot_dichot['ALLLENGTH'].apply(lambda x:function_for_transition_length(x))
<ipython-input-34-4e970e0c7786>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_incon_mot_dichot['ALLTRANSITION'] = df_incon_mot_dichot['ALLTRANSITION'].apply(lambda x:function_for_transition_length(x))

In [35]:
df_incon_mot_dichot

,id,ALLLENGTH,ALLTRANSITION,ALLINCONVENIENCE4D,ALLINCONVENIENCE2D,ALLINCONVENIENCE3D
0,507.0,0-3 months,0-3 months,0,1,1
1,499.0,0-3 months,9 or more years,0,0,0
2,494.0,1-2 years,1-2 years,1,0,0
3,62.0,0-3 months,9 or more years,0,0,0
4,64.0,0-3 months,0-3 months,0,0,0
...,...,...,...,...,...,...
1381,12307.0,9 or more years,0-3 months,0,0,0
1382,12333.0,4-11 months,0-3 months,0,0,0
1383,12334.0,0-3 months,4-11 months,0,0,0
1384,12357.0,1-2 years,0-3 months,0,0,0
1385,12378.0,4-11 months,4-11 months,1,1,1

In [36]:
df_new = df_incon_mot_dichot[df_incon_mot_dichot['ALLINCONVENIENCE4D']==1]

In [37]:
df_new

,id,ALLLENGTH,ALLTRANSITION,ALLINCONVENIENCE4D,ALLINCONVENIENCE2D,ALLINCONVENIENCE3D
2,494.0,1-2 years,1-2 years,1,0,0
10,97.0,0-3 months,9 or more years,1,0,0
11,98.0,9 or more years,9 or more years,1,0,0
13,114.0,4-11 months,0-3 months,1,1,1
16,150.0,No idea,9 or more years,1,0,0
...,...,...,...,...,...,...
1356,12150.0,1-2 years,0-3 months,1,0,0
1362,12185.0,0-3 months,9 or more years,1,0,0
1367,12239.0,1-2 years,4-11 months,1,0,0
1372,12273.0,No idea,9 or more years,1,0,0
1385,12378.0,4-11 months,4-11 months,1,1,1

In [38]:
df_new = df_new[df_new['ALLINCONVENIENCE2D']==1]

In [39]:
df_new

,id,ALLLENGTH,ALLTRANSITION,ALLINCONVENIENCE4D,ALLINCONVENIENCE2D,ALLINCONVENIENCE3D
13,114.0,4-11 months,0-3 months,1,1,1
35,371.0,No idea,9 or more years,1,1,1
47,564.0,1-2 years,0-3 months,1,1,1
82,788.0,1-2 years,0-3 months,1,1,1
86,800.0,6-9 years,4-11 months,1,1,1
...,...,...,...,...,...,...
1313,11829.0,1-2 years,0-3 months,1,1,1
1330,11959.0,4-11 months,0-3 months,1,1,1
1345,12063.0,1-2 years,9 or more years,1,1,1
1354,12145.0,1-2 years,1-2 years,1,1,1
1385,12378.0,4-11 months,4-11 months,1,1,1

In [40]:
df_incon_mot_dichot

,id,ALLLENGTH,ALLTRANSITION,ALLINCONVENIENCE4D,ALLINCONVENIENCE2D,ALLINCONVENIENCE3D
0,507.0,0-3 months,0-3 months,0,1,1
1,499.0,0-3 months,9 or more years,0,0,0
2,494.0,1-2 years,1-2 years,1,0,0
3,62.0,0-3 months,9 or more years,0,0,0
4,64.0,0-3 months,0-3 months,0,0,0
...,...,...,...,...,...,...
1381,12307.0,9 or more years,0-3 months,0,0,0
1382,12333.0,4-11 months,0-3 months,0,0,0
1383,12334.0,0-3 months,4-11 months,0,0,0
1384,12357.0,1-2 years,0-3 months,0,0,0
1385,12378.0,4-11 months,4-11 months,1,1,1

In [41]:
df_new_1 = df_incon_mot_dichot[['ALLLENGTH','ALLINCONVENIENCE3D']]

df_new_1 = df_new_1[df_new_1['ALLINCONVENIENCE3D']==1]

df_new_1 = df_new_1.groupby(by='ALLLENGTH').agg({'ALLINCONVENIENCE3D':sum})

df_new_1.reset_index(inplace=True)

df_new_1

In [50]:
df_new_2 = df_incon_mot_dichot[['ALLLENGTH','ALLINCONVENIENCE4D']]

df_new_2 = df_new_2[df_new_2['ALLINCONVENIENCE4D']==1]

df_new_2 = df_new_2.groupby(by='ALLLENGTH').agg({'ALLINCONVENIENCE4D':sum})

df_new_2.reset_index(inplace=True)

df_new_2

         ALLLENGTH  ALLINCONVENIENCE4D
0       0-3 months                  94
1        1-2 years                  51
2        3-5 years                  27
3      4-11 months                  46
4        6-9 years                  15
5  9 or more years                  20
6          No idea                  27

In [51]:
final = pd.merge(df_new_1, df_new_2, left_on=['ALLLENGTH'], right_on=['ALLLENGTH'])

In [52]:
final

         ALLLENGTH  ALLINCONVENIENCE3D  ALLINCONVENIENCE4D
0       0-3 months                 124                  94
1        1-2 years                  65                  51
2        3-5 years                  36                  27
3      4-11 months                  77                  46
4        6-9 years                  19                  15
5  9 or more years                  28                  20
6          No idea                  15                  27

In [53]:
final.to_csv('../project_data/dicho_variables.csv',index=False)